<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 80%; margin: 50px auto 0 auto;">
<h1>Sign up</h1>

<form action="/registration" method="post">
    <label>Email: </label>
    <input type="text" name="email" required>
    <br>
    <br>
    <label>Password : </label>
    <input type="password" name="password" required>
    <br>
    <br>
    <button type="submit">Sign up</button>
    <br>
    <br>
    <br>
    <a href="/accounts/sign_in">Log in</a>
</form>

</body>
</html>
