<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, table td {
            border: 1px solid green;
            border-spacing: 10px 5px;
        }
    </style>
</head>
<body style="width: 80%; margin: 50px auto 0 auto;">

    <h1>Задачи <span style="color: grey">{{ user.email }}</span></h1>

    <table>
        <tr>
            <th>PublicID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>JiraID</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.public_id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.status }}</td>
                <td>{% if task.jira_id %}{{ task.jira_id }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <a href="/tasks/add">Add task</a>

</body>
</html>
